body{
    background-color: rgb(255, 231, 200);
}

.h2{
    font-family: "Poppins";
    font-size: 50px;
    font-weight: bold;
}

.h4{
font-family: "Poppins";
font-size: 30;
font-weight: bold;
}

.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
}

.card-button{
    display: flex;
    justify-content: space-around;
    width: 160px;
    height: 60px;
    background-color: rgb(240, 113, 16);
}

.img{
    width: 500;
    height: 500;
    border-radius: 10px;

}