:root{
    --font-weight-black: 900;
    --img-size: 300px;

}
body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 40px;
    background-color: rgb(245, 239, 218);
    font-family: "Poppins";
}


h3{
    font-size: 20px;
    font-weight: 700;
}
h1{
    margin-bottom: 50px;
    margin-left: 15px;
    font-size: 40px;
}
h2{
    font-size: 30px;
    font-weight: var(--font-weight-black);
}
h4{
    font-size: 18px;
    font-weight: var(--font-weight-black);
    margin-left: 3px;
}
.small-text{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.407);
}
.small-text-black{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: var(--font-weight-black);
}
.price-text{
    font-size: 20px;
    font-weight: var(--font-weight-black);
    line-height: 22px;
    color: rgb(241, 90, 9);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 30px;
    margin: 15px;
}
.cart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 60px;
    border: none;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    gap: 5px;
    top: 270px;
    left: 40px;
}
.cart-hover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 90, 9);
    font-size: 16px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 60px;
    border: none;
    gap: 5px;
    top: 270px;
    left: 47px;
}
.icon{
    width: 25px;
    height: 25px;
}

.text-container{
    line-height: 0%;
}

.img{
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 20px;
}
.img-hover{
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 20px;
    border: 5px solid rgb(241, 90, 9);
}
.container-grid{
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}

.order-container{
    position: sticky;
    top: 5px;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 5px 25px;
    margin-top: 25px;
    gap: 0;
    border-radius: 15px;
}
.sum-text{
    display: flex;
    align-items: center;
    height: 22px;
    gap: 15px;
    background-color: aqua;
}
.cart-item{
    position: relative;
    display: flex;
    padding: 0%;
}
hr{
    border: none;
    background-color: rgba(0, 0, 0, 0.154);
    width: 400px;
    height: 3px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}